<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
        <link href="/css/artistPage.css" rel ="stylesheet">
        {{#if loginCSS}}
            <link href ="/css/loginCSS.css" rel = "stylesheet"/>
        {{/if}}
    <title>{{pageTitle}}</title>
    <script src = "/js/lab5.js" defer></script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>